{{extend '../public/model/admin-index.html'}} {{block 'title'}} 动漫商城-商品查看 {{/block}} {{block 'css'}}
<link rel="stylesheet" href="../public/css/admin/admin-product-list.css"> {{/block}} {{block 'operation'}}
<div class="opa-title">
    <h2><i class="iconfont icon-goods"></i> 商品管理<i class="iconfont icon-icozuola"></i>查看商品</h1>
</div>
<!-- 商品列表 -->
<div class="table">
    <table>
        <thead>
            <tr>
                <td>订单编号</td>
                <td>订单状态</td>
                <td>创建时间</td>
                <td>订单金额</td>
                <td>可选操作</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>111111</td>
                <td>待发货</td>
                <td>2018-2-11 11：31</td>
                <td>￥288</td>
                <td><button>查看</button><button>处理</button></td>
            </tr>
            <tr>
                <td>111111</td>
                <td>待发货</td>
                <td>2018-2-11 11：31</td>
                <td>￥288</td>
                <td><button>查看</button><button>处理</button></td>
            </tr>
            <tr>
                <td>111111</td>
                <td>待发货</td>
                <td>2018-2-11 11：31</td>
                <td>￥288</td>
                <td><button>查看</button><button>处理</button></td>
            </tr>
            <tr>
                <td>111111</td>
                <td>待发货</td>
                <td>2018-2-11 11：31</td>
                <td>￥288</td>
                <td><button>查看</button><button>处理</button></td>
            </tr>
            <tr>
                <td>111111</td>
                <td>待发货</td>
                <td>2018-2-11 11：31</td>
                <td>￥288</td>
                <td><button>查看</button><button>处理</button></td>
            </tr>
            <tr>
                <td>111111</td>
                <td>待发货</td>
                <td>2018-2-11 11：31</td>
                <td>￥288</td>
                <td><button>查看</button><button>处理</button></td>
            </tr>
            <tr>
                <td>111111</td>
                <td>待发货</td>
                <td>2018-2-11 11：31</td>
                <td>￥288</td>
                <td><button>查看</button><button>处理</button></td>
            </tr>
            <tr>
                <td>111111</td>
                <td>待发货</td>
                <td>2018-2-11 11：31</td>
                <td>￥288</td>
                <td><button>查看</button><button>处理</button></td>
            </tr>
            <tr>
                <td>111111</td>
                <td>待发货</td>
                <td>2018-2-11 11：31</td>
                <td>￥288</td>
                <td><button>查看</button><button>处理</button></td>
            </tr>
            <tr>
                <td>111111</td>
                <td>待发货</td>
                <td>2018-2-11 11：31</td>
                <td>￥288</td>
                <td><button>查看</button><button>处理</button></td>
            </tr>
        </tbody>
    </table>
</div>
<!-- 分页器 -->
<div class="pager">
    分页器
</div>
{{/block}}