{{extend '../public/model/layout.html'}} {{block 'title'}} 动漫商城-模型类 {{/block}} {{block 'css'}}
<link rel="stylesheet" href="../public/css/model.css"> {{/block}} {{block 'content'}}
<div class="content">
    <span>
        <img src="../public/img/index-img/product1.jpg" alt="">
            <a href="/index/product">高达NX EDGE STYLE Q版</a>
            <p>￥288</p>
            <button>立即购买</button>
    </span>
    <span>
        <img src="../public/img/index-img/product1.jpg" alt="">
            <a href="/index/product">高达NX EDGE STYLE Q版</a>
            <p>￥288</p>
            <button>立即购买</button>
    </span>
    <span>
        <img src="../public/img/index-img/product1.jpg" alt="">
            <a href="/index/product">高达NX EDGE STYLE Q版</a>
            <p>￥288</p>
            <button>立即购买</button>
    </span>
    <span>
        <img src="../public/img/index-img/product1.jpg" alt="">
            <a href="/index/product">高达NX EDGE STYLE Q版</a>
            <p>￥288</p>
            <button>立即购买</button>
    </span>
    <span>
        <img src="../public/img/index-img/product1.jpg" alt="">
            <a href="/index/product">高达NX EDGE STYLE Q版</a>
            <p>￥288</p>
            <button>立即购买</button>
    </span>
    <span>
        <img src="../public/img/index-img/product1.jpg" alt="">
            <a href="/index/product">高达NX EDGE STYLE Q版</a>
            <p>￥288</p>
            <button>立即购买</button>
    </span>
    <span>
        <img src="../public/img/index-img/product1.jpg" alt="">
            <a href="/index/product">高达NX EDGE STYLE Q版</a>
            <p>￥288</p>
            <button>立即购买</button>
    </span>
</div>
{{/block}} {{block 'js'}}
<script src="../public/js/model.js"></script>
{{/block}}